$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grey-red: hsl(0, 6%, 24%);
$gradient-one: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 88%));
$gradient-two: linear-gradient(135deg, hsl(0, 61%, 81%), hsl(0, 59%, 65%));
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

%font-shared {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

body {
  @extend %font-shared;
}

main {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 0.5fr 1fr 2fr;
  grid-template-areas:
    'head'
    'hero'
    'content';

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      'head hero'
      'content hero'
      'content hero';
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
  }
}

main > header {
  grid-area: head;
  display: flex;
  align-items: center;
  padding: 25px;

  @media only screen and (min-width: 1024px) {
    padding: 0 100px;
  }

  @media only screen and (min-width: 1400px) {
    padding: 0 170px;
  }
}

main > #hero {
  grid-area: hero;
  max-width: 100vw; // media query here
  min-height: 250px;
  background-image: url(images/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (min-width: 1024px) {
    background-image: url(images/hero-desktop.jpg);
  }
}

main > #main-content {
  grid-area: content;
  background: $gradient-one;
  @media only screen and (min-width: 1024px) {
    background: none;
    padding: 0 70px;
  }

  @media only screen and (min-width: 1400px) {
    padding: 0 140px;
  }
}

#main-content-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 60px 30px 0 30px;
}

#coming-soon-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  color: $dark-grey-red;
  font-size: 2.5rem;
  font-weight: 600;

  :first-child {
    color: $desaturated-red;
    font-weight: 300;
  }

  @media only screen and (min-width: 1024px) {
    text-align: initial;
    font-size: 3.5rem;
  }
}

#main-description {
  margin-top: 30px;
  color: $desaturated-red;
  line-height: 1.5rem;

  @media only screen and (min-width: 1024px) {
    text-align: initial;
  }
}

#email-container {
  padding-top: 30px;
  padding-bottom: 100px;
}

form {
  padding: 0 50px;
}

#text-input-container {
  position: relative;

  input {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid $desaturated-red;
    background: transparent;
    text-indent: 30px;
    outline: none;
    @extend %font-shared;
  }

  #submit-container {
    position: absolute;
    top: 0px;
    right: 0;
  }
}

.btn-submit {
  width: 68px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: $gradient-two;
  outline: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  .arrow {
    background-image: url(/images/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 50px;
    border: none;
  }
}

::placeholder {
  color: $desaturated-red;
}

#attribution {
  font-size: 11px;
  text-align: center;
}
#attribution a {
  color: hsl(228, 45%, 44%);
}
